{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Recipe App{% endblock %}</title>
    <link rel="stylesheet" href="/static/recipeapp/css/style.css">

</head>
<body>

<header class="navbar">
    <div class="logo">🍳 OneTimeBite</div>
    <nav>
        <a href="{% url 'recipe_list' %}">Home</a>
        <a href="{% url 'recipe_add' %}" class="btn-primary">Add Recipe</a>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
